@model Entities.Models.Application

@{
    ViewData["Title"] = "Create";
}

<h1>Job Application</h1>

<h4>Please enter your Applicant ID</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input hidden asp-for="ApplicationId" class="form-control" />
            </div>
            <div class="form-group mt-3">
              
                <input hidden asp-for="JobId" class="form-control" />
            </div>
            <div class="form-group mt-3">
                <label asp-for="ApplicantId" class="control-label"></label>
                <input asp-for="ApplicantId" class="form-control" />
                <span asp-validation-for="ApplicantId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3" >
                <label asp-for="DateCreated" class="control-label"></label>
                <input disabled  asp-for="DateCreated" class="form-control" />
                <input hidden asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ApplicationStatusId" class="control-label"></label>
                <input disabled asp-for="ApplicationStatusId" class ="form-control"/>
                <input hidden asp-for="ApplicationStatusId" class="form-control"/>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
                <input type="button" value= "Back to List" class="btn btn-secondary"/>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
