@{
    ViewData["Title"] = "Home Page";
}
 
<section id="hero" class="hero">
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-item" style="background-image: url(/wwwroot/lib/asserts/images/software-developer-vs-software-engineer.jpg)">
            <div class="info d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2 data-aos="fade-down" class="aos-init aos-animate">Welcome to DevJobs</h2>
                            <p data-aos="fade-up" class="aos-init aos-animate">DevJobs</p>
                            <a data-aos="fade-up" data-aos-delay="200" href="/Job/Index" class="btn-get-started aos-init aos-animate">Check out available Jobs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item active" style="background-image: url(/wwwroot/lib/asserts/images/1583671584728.png)">
            <div class="info d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2 data-aos="fade-down" class="aos-init aos-animate">Welcome to DevJobs</h2>
                            <p data-aos="fade-up" class="aos-init aos-animate">DevJobs</p>
                            <a data-aos="fade-up" data-aos-delay="200" href="/Job/Index" class="btn-get-started aos-init aos-animate">Check out available Jobs</a>
                            @*<a data-aos="fade-up" data-aos-delay="200" href="Applicant/Create" class="btn-get-started aos-init aos-animate">Sig up an Applicant</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon fa fa-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon fa fa-chevron-right" aria-hidden="true"></span>
        </a>

    </div>

</section>
    @*<h1 class="display-4">Welcome To DevJobs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

