@model Entities.Models.Applicant

@{
    ViewData["Title"] = "Create";
}

<h1>Applicant Registration</h1>

<h4>Register as an applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="QualificationLevelId" class="control-label"></label>
                <input asp-for="QualificationLevelId" class ="form-control" >
            </div>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button asp-for="QualificationLevelId" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Qualification Level
                </button>
                <ul class="dropdown-menu" asp-for="QualificationLevelId">
                    <li><a class="dropdown-item" asp-for="QualificationLevelId" value="1" href="#">Higher Certificate</a></li>
                    <li><a class="dropdown-item" value="2" href="#">Diploma</a></li>
                    <li><a class="dropdown-item" href="#">Degree</a></li>
                    <li><hr class="dropdown-divider">Honours</li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Back to List" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <input type="button" class="btn btnalert-secondary" asp-action="Index">Back to List/>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
